.parrafo1a{
    grid-area: parrafo1a;
}
.parrafo2a{
    grid-area: parrafo2a;
}
.parrafo3a{
    grid-area: parrafo3a;
}
.parrafo3a{
    grid-area: parrafo3a;
}
.introa{
    grid-area: introa;
}
.video1a{
    grid-area: video1a;
}
.instituto{
    grid-area: instituto;
}
.tsup{
    grid-area: tsup;
}
