.parrafo1a{
    grid-area: parrafo1a;
    margin-top: 4%;
}
.parrafo2a{
    grid-area: parrafo2a;
}
.parrafo3a{
    grid-area: parrafo3a;
}
.parrafo3a{
    grid-area: parrafo3a;
}
.introa{
    grid-area: introa;
}
.video1a{
    grid-area: video1a;
}
.instituto{
    grid-area: instituto;
}
.tsup{
    grid-area: tsup;
}
.video2a{
    grid-area: video2a;
}
.p1a{
    grid-area: p1a;
}
.p2a{
    grid-area: p2a;
}
.p3a{
    grid-area: p3a;
}
.p4a{
    grid-area: p4a;
}
.titulo2a{
    grid-area: titulo2a;
}
.linka{
    grid-area: linka;
}