*{
    padding: 0;
    margin: 0;
}
$letra:16px;
$espacio:1.5px;
$color: rgb(240, 227, 195);
$colorTitulo: rgb(132, 130, 124);

.generales{
    font-size: $letra;
    color: $color;
    letter-spacing: $espacio;
}
@mixin sizes($width,$height){
    height: $height;
    width: $width;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    min-height: 100vh;   
    background-color: #260030;
}

header{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "h11" "h22" "h33" "h44" "h55" "h66";
    flex-wrap: nowrap;
    padding: 15px;
    text-align: left;
    word-spacing: 12px;
    font-size: 22px;
    background-image: linear-gradient(to right,rgb(70, 36, 76), rgb(113, 43, 117),rgb(199, 75, 80),rgb(212, 155, 84)); 
    color: rgb(85, 82, 147);
}
.offcanvas, .offcanvas-end{
    background-color:rgb(242, 242, 242);
}
.hindex{
    display: none;
}
.dropdown-menue{
    display: grid;
}
main{
    @include sizes (100%, 100%);
    align-content: center;
    text-align: center;
    margin-top: 0%;
}
ul{
    list-style-type: none;
    li{
       display: inline-block; 
    } 
}
h1{
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    text-align: center;
    padding: 20px;
    border: 10px solid $colorTitulo;
    color: whitesmoke;
}

p, a, li{
    @extend .generales;
    text-align: justify;
    line-height: 1.6;
    word-spacing: 2px; 
    padding: 1em;
    margin: 6px 0px 6px 0px;
    text-decoration: none;
}
img{
    @include sizes (80%, 50%);
    border-image: round;
    border: 5px solid gray;
    align-content: center;
}

iframe{
    border: 5px solid gray;
    width: 70%;
    height: 50vh;
}
.ultimo{
    margin-bottom: 100px;
    color:rgb(241, 216, 153);
    font-style: italic;
    grid-area: ultimo;
}
footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(61, 54, 61);
    color: white;
    width: 100%;
    grid-area: footer;
}

.icon{
    @include sizes (85%, 85%);
    border: 0cm;
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1% 4% 2% 4%;
    &:hover{
        transform: scale(1.25);
    transition: 2.5s;
    }
}
.arturito{
    @extend .generales;
    color: antiquewhite;
    text-align: left;
}
.Nombre{
    text-align: end;
    color: antiquewhite;
    font-style: oblique;
 }
 .flex1{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

