.content1{
    grid-area: content1;
}

.content2{
    grid-area: content2;
}
.parrafo2h{
    grid-area: parrafo2h;
}

.videoh{
    grid-area: videoh;
}
.video2h{
    grid-area: video2h;
}
.link1{
    grid-area: link1;
}

.link2{
    grid-area: link2;
}
.t1{
    grid-area: t1;
}
.t2{
    grid-area: t2;
}
.col1h{
    grid-area: col1h;
}
.col2h{
    grid-area: col2h;
}
.col3h{
    grid-area: col3h;
}
.hindex{
    grid-area: hindex;
}
