.principal2{
    font-style: italic;
    font-weight: 900;
}
.parrafo1{
    grid-area: parrafo1;
}
.principal2{
    grid-area: principal2;
}
.linea1{
    grid-area: linea1;
}
.p1{
    grid-area: p1;
}
.p2{
    grid-area: p2;
}
.p3{
    grid-area: p3;
}
.parrafo2{
    grid-area: parrafo2;
}
.parrafo3{
    grid-area: parrafo3;
}
