.col2{
    width: 90%;
    justify-content: center;
    grid-area: col2;
}
.introp{
    grid-area: introp;
}
.col3{
    width: 90%;
    justify-content: center;
    grid-area: col3;
}
.power{
    margin: 1%;
    word-wrap: normal;
    width: 80%;
}

.fases{
    grid-area: fases;
}
.intro1{
    grid-area: intro1;
}
.pa{
    grid-area: pa;
}
.pb{
    grid-area: pb;
}
.pc{
    grid-area: pc;
}
.lastinfo{
    grid-area: lastinfo;
}
.parrafo3p{
    grid-area: parrafo3p;
}
.lastvid{
    grid-area: lastvid;
}
.col1{
    grid-area:col1;
}
.padre{
    grid-area: padre;
}

.primero{
    grid-area: primero;
}
.powertitulo{
    grid-area: powertitulo;
}
