.h11{
    grid-template-areas: h11;
}
.h22{
    grid-template-areas: h22;
}
.h33{
    grid-template-areas: h33;
}
.h44{
    grid-template-areas: h44;
}
.h55{
    grid-template-areas: h55;
}
.h66{
    grid-template-areas: h66;
}
#catalogo{
    background-color: burlywood;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.col-sm-8{
    width: 75%
}
.col-sm-4{
    width: 25%;
}
#items{
    grid-area: items;
}
.aside{
    grid-area: col-sm-4;
}
.section1{
    @media( max-width: 840px){
    margin-top: 6%;}
    @media( max-width: 640px){
        margin-top: 7%;}
   @media( max-width: 580px){
    margin-top: 9%;}
}
.row{
    @media (max-width: 840px){
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "items items"
        "col-sm-4 col-sm-4";
        align-items: stretch;
    #items{
        width: 100%
    }
    .col-sm-4{
    width: 200%;
    }
}
}
.card{
    border: 5px;
    border-color: black;
    width: 1fr;
    height: 1fr;
    background-color: rgb(95, 8, 95);
    margin-right: 10%;
    margin-bottom: 62%;
    
    p{
        margin-left: 20%;
    }
    @media (min-width:1024px){
        #catalogo{
            grid-template-columns: 1fr 1fr;
        }
    }
}
.card-body{
    height: 1fr;
    width: 1fr;

}
.card-img{
    border: 5px;
    border-color: black;
    width: 1fr;
    margin-right: 5px;
    img{
        margin-left: 20%;
        height: 40%;
        width: 30%;
    }
    p{
        margin-left: 20%;
    }
    @media (min-width:1024px){
        #catalogo{
            grid-template-columns: 1fr 1fr;
        }
    }
}
.btn-compra{
    color: #fff;
    background-color:green;
    border-color: rgb(93, 228, 93);
}
#items{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.card{
    display: grid;
    height: 100%;
    width: 100%;
}
.card-title{
    color: whitesmoke;
}
.card-text{
    text-align: center;
}

h4{
    color: aquamarine;
}

.nuevaCard{
    background-color: red;
    width: 100px;
    height: 40px;
}
