@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
}

.generales, .arturito, p, a, li {
  font-size: 16px;
  color: rgb(240, 227, 195);
  letter-spacing: 1.5px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #260030;
}

header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-areas: "h11" "h22" "h33" "h44" "h55" "h66";
  flex-wrap: nowrap;
  padding: 15px;
  text-align: left;
  word-spacing: 12px;
  font-size: 22px;
  background-image: linear-gradient(to right, rgb(70, 36, 76), rgb(113, 43, 117), rgb(199, 75, 80), rgb(212, 155, 84));
  color: rgb(85, 82, 147);
}

.offcanvas, .offcanvas-end {
  background-color: rgb(242, 242, 242);
}

.hindex {
  display: none;
}

.dropdown-menue {
  display: grid;
}

main {
  height: 100%;
  width: 100%;
  align-content: center;
  text-align: center;
  margin-top: 0%;
}

ul {
  list-style-type: none;
}
ul li {
  display: inline-block;
}

h1 {
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  text-align: center;
  padding: 20px;
  border: 10px solid rgb(132, 130, 124);
  color: whitesmoke;
}

p, a, li {
  text-align: justify;
  line-height: 1.6;
  word-spacing: 2px;
  padding: 1em;
  margin: 6px 0px 6px 0px;
  text-decoration: none;
}

img {
  height: 50%;
  width: 80%;
  -o-border-image: round;
     border-image: round;
  border: 5px solid gray;
  align-content: center;
}

iframe {
  border: 5px solid gray;
  width: 70%;
  height: 50vh;
}

.ultimo {
  margin-bottom: 100px;
  color: rgb(241, 216, 153);
  font-style: italic;
  grid-area: ultimo;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(61, 54, 61);
  color: white;
  width: 100%;
  grid-area: footer;
}

.icon {
  height: 85%;
  width: 85%;
  border: 0cm;
}

.redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1% 4% 2% 4%;
}
.redes:hover {
  transform: scale(1.25);
  transition: 2.5s;
}

.arturito {
  color: antiquewhite;
  text-align: left;
}

.Nombre {
  text-align: end;
  color: antiquewhite;
  font-style: oblique;
}

.flex1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.content1 {
  grid-area: content1;
}

.content2 {
  grid-area: content2;
}

.parrafo2h {
  grid-area: parrafo2h;
}

.videoh {
  grid-area: videoh;
}

.video2h {
  grid-area: video2h;
}

.link1 {
  grid-area: link1;
}

.link2 {
  grid-area: link2;
}

.t1 {
  grid-area: t1;
}

.t2 {
  grid-area: t2;
}

.col1h {
  grid-area: col1h;
  border: 10px burlywood;
  background-color: #34043f;
}

.col2h {
  grid-area: col2h;
  border: 10px burlywood;
  background-color: #34043f;
}

.col3h {
  grid-area: col3h;
}

.hindex {
  grid-area: hindex;
}

.parrafo1h {
  margin-top: 4%;
}

.col2 {
  width: 90%;
  justify-content: center;
  grid-area: col2;
}

.introp {
  grid-area: introp;
}

.col3 {
  width: 90%;
  justify-content: center;
  grid-area: col3;
}

.power {
  margin: 1%;
  word-wrap: normal;
  width: 80%;
}

.fases {
  grid-area: fases;
}

.intro1 {
  grid-area: intro1;
}

.pa {
  grid-area: pa;
}

.pb {
  grid-area: pb;
}

.pc {
  grid-area: pc;
}

.lastinfo {
  grid-area: lastinfo;
}

.parrafo3p {
  grid-area: parrafo3p;
}

.lastvid {
  grid-area: lastvid;
}

.col1 {
  grid-area: col1;
}

.padre {
  grid-area: padre;
  margin-top: 4%;
}

.primero {
  grid-area: primero;
}

.powertitulo {
  grid-area: powertitulo;
  color: whitesmoke;
}

.parrafo1a {
  grid-area: parrafo1a;
  margin-top: 4%;
}

.parrafo2a {
  grid-area: parrafo2a;
}

.parrafo3a {
  grid-area: parrafo3a;
}

.parrafo3a {
  grid-area: parrafo3a;
}

.introa {
  grid-area: introa;
}

.video1a {
  grid-area: video1a;
}

.instituto {
  grid-area: instituto;
}

.tsup {
  grid-area: tsup;
}

.video2a {
  grid-area: video2a;
}

.p1a {
  grid-area: p1a;
}

.p2a {
  grid-area: p2a;
}

.p3a {
  grid-area: p3a;
}

.p4a {
  grid-area: p4a;
}

.titulo2a {
  grid-area: titulo2a;
}

.linka {
  grid-area: linka;
}

h2 {
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  text-align: center;
  margin-top: 30px;
  color: gold;
}

.contacto {
  line-height: 1.6;
  word-spacing: 2px;
  font-size: 22px;
  letter-spacing: 1.5px;
  text-align: center;
}

select {
  line-height: 1.6;
  word-spacing: 2px;
  font-size: 18px;
  letter-spacing: 1.5px;
}

input {
  line-height: 1.6;
  word-spacing: 2px;
  font-size: 18px;
  letter-spacing: 1.5px;
}

.formulario {
  text-align: center;
  color: aliceblue;
}

.ultimo1 {
  margin-bottom: 100px;
  color: black;
  font-style: italic;
}

.parrafo1 {
  grid-area: parrafo1;
}

.principal2 {
  grid-area: principal2;
}

.linea1 {
  grid-area: linea1;
}

.p1 {
  grid-area: p1;
}

.p2 {
  grid-area: p2;
}

.p3 {
  grid-area: p3;
}

.parrafo2 {
  grid-area: parrafo2;
}

.parrafo3 {
  grid-area: parrafo3;
}

.imgPres {
  grid-area: imgPres;
  height: 100%;
  width: 100%;
}
.imgPres img {
  width: 100%;
  height: 100%;
}

.h11 {
  grid-template-areas: h11;
}

.h22 {
  grid-template-areas: h22;
}

.h33 {
  grid-template-areas: h33;
}

.h44 {
  grid-template-areas: h44;
}

.h55 {
  grid-template-areas: h55;
}

.h66 {
  grid-template-areas: h66;
}

#catalogo {
  background-color: burlywood;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.col-sm-8 {
  width: 75%;
}

.col-sm-4 {
  width: 25%;
}

#items {
  grid-area: items;
}

.aside {
  grid-area: col-sm-4;
}

@media (max-width: 840px) {
  .section1 {
    margin-top: 6%;
  }
}
@media (max-width: 640px) {
  .section1 {
    margin-top: 7%;
  }
}
@media (max-width: 580px) {
  .section1 {
    margin-top: 9%;
  }
}

@media (max-width: 840px) {
  .row {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "items items" "col-sm-4 col-sm-4";
    align-items: stretch;
  }
  .row #items {
    width: 100%;
  }
  .row .col-sm-4 {
    width: 200%;
  }
}

.card {
  border: 5px;
  border-color: black;
  width: 80%;
  height: 80%;
  background-color: rgb(95, 8, 95);
  margin-right: 10%;
  margin-bottom: 10%;
}
@media (min-width: 1024px) {
  .card #catalogo {
    grid-template-columns: 1fr 1fr;
  }
}

.card-body {
  height: 1fr;
  width: 1fr;
}

.card-img {
  border: 5px;
  border-color: black;
  width: 1fr;
  margin-right: 5px;
  height: 40%;
  width: 80%;
}
.card-img p {
  margin-left: 20%;
}
@media (min-width: 1024px) {
  .card-img #catalogo {
    grid-template-columns: 1fr 1fr;
  }
}

.btn-compra {
  color: #fff;
  background-color: green;
  border-color: rgb(93, 228, 93);
}

#items {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card {
  display: grid;
  height: 100%;
  width: 100%;
}

.card-title {
  color: whitesmoke;
}

.card-text {
  text-align: center;
}

h4 {
  color: aquamarine;
}

.nuevaCard {
  background-color: red;
  width: 100px;
  height: 40px;
}

@media (min-width: 840px) {
  header {
    text-shadow: 5%;
    text-align: left;
    font: 90px;
  }
  .padre {
    margin-top: 0%;
  }
  .parrafo1h {
    margin-top: 0%;
  }
  .parrafo1a {
    margin-top: 0%;
  }
  .hindex {
    display: flex;
    flex-wrap: nowrap;
    margin-left: none;
    font: 80px;
    text-align: left;
  }
  .headerMob {
    display: none;
  }
  main {
    width: 80%;
    margin-left: 10%;
    margin-top: none;
  }
  img {
    width: 100%;
  }
  iframe {
    width: 100%;
  }
  .icon {
    height: 80%;
    width: 80%;
  }
  .arturito {
    font-size: 18px;
  }
  .Nombre {
    font-size: 16px;
    text-align: left;
  }
  p, a, li {
    font-size: 19px;
  }
  h1 {
    font-size: 38px;
  }
  h3 {
    font-size: 33px;
  }
}
@media (min-width: 1024px) {
  #catalogo {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .section1 {
    margin-top: 1%;
  }
  img {
    width: 80%;
  }
  .imgPres img {
    height: 100%;
    width: 100%;
  }
  iframe {
    width: 80%;
  }
  .parrafo1p {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "primero     primero" "introp      introp" "powertitulo powertitulo" "col1        col2" "col3        col3";
    align-items: stretch;
  }
  .parrafo3p {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "fases fases fases" "intro1 intro1 intro1" "pa pb pc" "lastvid lastvid lastvid" "lastinfo lastinfo lastinfo";
    align-items: stretch;
  }
  .parrafo1h {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "t1 t1" "content1      content2" "videoh videoh" "link1 link2";
    align-items: stretch;
  }
  .parrafo2h {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "t2 t2" "col1h col2h" "col3h col3h" "video2h video2h";
    align-items: stretch;
  }
  .colh2 {
    line-height: 2.4;
    padding: 3em;
    word-spacing: 4px;
  }
  .parrafo1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "imgPres imgPres imgPres" "principal2 principal2 principal2" "linea1 linea1 linea1" "p1 p2 p3";
    align-items: stretch;
  }
  .parrafo1a {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "primero primero" "p p";
    align-items: stretch;
  }
  .parrafo2a {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "titulo2a titulo2a" "p1a p1a" "p2a p2a" "video2a video2a" "p3a p3a" "p4a p4a";
    align-items: stretch;
  }
  .parrafo3a {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "tsup tsup tsup" "introa introa introa" "p p p" "video1a video1a video1a" "instituto instituto instituto" "linka linka linka";
    align-items: stretch;
  }
  .contacto {
    margin-left: 20%;
    margin-right: 20%;
  }
}
@media (min-width: 1244px) {
  .parrafo2h {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "t2 t2" "col1h col2h" "video2h col3h" "video2h col3h";
    align-items: stretch;
  }
  .video2h {
    height: 100%;
  }
  .video2h iframe {
    margin-top: 10%;
    height: 80%;
  }
  .parrafo2a {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "titulo2a titulo2a" "p1a p1a" "video2a p2a" "p3a p3a" "p4a p4a";
    align-items: stretch;
  }
  .video2a {
    height: 100%;
  }
  .video2a iframe {
    margin-top: 10%;
    height: 80%;
  }
  .parrafo3a {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "tsup tsup tsup" "introa introa introa" "p p p" "video1a video1a video1a" "instituto instituto instituto" "linka linka linka";
    align-items: stretch;
  }
}/*# sourceMappingURL=estilos.css.map */